
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cavani_tm_section" id="about">
    <div class="section_inner">
        <div class="cavani_tm_about w-full h-auto clear-both float-left">
            <div class="biography w-full h-auto clear-both float-left mb-[87px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">About Me</span>
                </div>
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between mt-[55px]">
                    <div class="left w-[40%]">
                        <p class="mb-[15px]">Hello there! My name is <strong>Alan Walker.</strong> I am a graphic designer, and I'm very passionate and dedicated to my work.</p>
                        <p>With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge necessary to make your project a success.</p>
                    </div>
                    <div class="right w-[50%]">
                        <ul>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Name:</span><span class="second inline-block">Alan Walker</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Address:</span><span class="second inline-block">Ave Street, New York, USA</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Study:</span><span class="second inline-block">Univercity of Oxford</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Degree:</span><span class="second inline-block">Master of Science</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Mail:</span><span class="second inline-block"><a class="text-[#7d7789] transition-all duration-300 hover:text-[#333]" href="#"><span class="__cf_email__" data-cfemail="076f626b6b684764667166696e2964686a">[email&#160;protected]</span></a></span></li>
                            <li class="w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Phone:</span><span class="second inline-block">+77 022 444 05 05</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services w-full h-auto clear-both float-left mb-[87px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="service_list w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Services</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left mt-[55px]">
                            <ul>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Web Development</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Graphic Design</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Landing Page</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">On-Page SEO</li>
                                <li class="w-full float-left relative pl-[25px]">Web Hosting</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service_list w-[50%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Interests</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left mt-[55px]">
                            <ul>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Painting &amp; Drawing</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Reading &amp; Writing</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Music &amp; Cinema</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Travel &amp; Picnik</li>
                                <li class="w-full float-left relative pl-[25px]">Rain &amp; Snow</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills w-full h-auto clear-both float-left mb-[65px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="programming w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Programming</span>
                        </div>
                        <div class="cavani_progress w-full h-auto clear-both float-left mt-[55px]">
                            <div class="progress_inner" data-value="95">
                                <span><span class="label">HTML &amp; CSS</span><span class="number">95%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="80">
                                <span><span class="label">JavaScript</span><span class="number">80%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="90">
                                <span><span class="label">WordPress</span><span class="number">90%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="language w-[50%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Language</span>
                        </div>
                        <div class="circular_progress_bar w-full h-auto clear-both float-left mt-[62px]">
                            <ul>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.95"></div>
                                        <div class="title"><span>English</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.8"></div>
                                        <div class="title"><span>Russian</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.9"></div>
                                        <div class="title"><span>Arabic</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume w-full h-auto clear-both float-left mb-[75px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="education w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Education</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left">
                            <div class="univ w-full h-auto clear-both float-left mt-[55px]">
                                <ul class="relative inline-block pt-[10px]">
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2014 - 2016</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Oxford Univercity</h3>
                                                <span class="text-[14px]">Master Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2010 - 2014</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Texas Univercity</h3>
                                                <span class="text-[14px]">Bachelor Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2008 - 2010</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Simone College</h3>
                                                <span class="text-[14px]">Associate Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="experience w-1/2">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Experience</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left">
                            <div class="univ w-full h-auto clear-both float-left mt-[55px]">
                                <ul class="relative inline-block pt-[10px]">
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2018 - running</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Envato Elements</h3>
                                                <span class="text-[14px]">Exclusive Author</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2015 - 2018</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Avo Corporation</h3>
                                                <span class="text-[14px]">Content Manager</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2012 - 2015</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">FC Barcelona</h3>
                                                <span class="text-[14px]">Football Player</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners w-full h-auto clear-both float-left mb-[92px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Partners</span>
                </div>
                <div class="list w-full clear-both float-left overflow-hidden border-solid border-[#E5EDF4] border-2 mt-[62px]">
                    <ul class="mt-[-2px] mr-[-10px] mb-[-2px] ml-[-2px] pt-[2px] float-left pl-[2px]">
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/1.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/2.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/3.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/4.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/5.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/1.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/2.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/3.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="testimonials w-full h-auto clear-both float-left mb-[90px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Testimonials</span>
                </div>
                <div class="list w-full h-auto clear-both float-left mt-[75px]">
                    <ul class="owl-carousel cursor-e-resize">
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>Beautiful minimalist design and great, fast response with support. Highly recommend. Thanks Marketify!</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/1.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Alexander Walker</h3>
                                        <span class="text-[14px]">Graphic Designer</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>These people really know what they are doing! Great customer support availability and supperb kindness.</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/2.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Armin Van Buuren</h3>
                                        <span class="text-[14px]">Content Manager</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>I had a little problem and the support was just awesome to quickly solve the situation. And keep going on.</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/3.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Baraka Clinton</h3>
                                        <span class="text-[14px]">English Teacher</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
