
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cavani_tm_section" id="news">
    <div class="section_inner">
        <div class="cavani_tm_news w-full h-auto clear-both float-left mb-[70px]">
            <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Latest News</span>
            </div>
            <div class="news_list w-full h-auto clear-both float-left mt-[60px]">
                <ul class="relative z-[2]">
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/1.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">01</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">July 07, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Branding</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">0 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">Reasons Why People Use Discord</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/2.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">02</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">July 02, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Design</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">2 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">Why We Should Read Fewer Books</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/3.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">03</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 30, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Lifestyle</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">5 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">A Final Farewell to the iPod</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/4.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">04</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 25, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Branding</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">3 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">Dealing with Spring Allergy Symptoms</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/5.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">05</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 20, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Design</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">1 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">How to Take a Break from Yourself</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/6.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">06</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 11</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Media</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">2 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">The Age of Extinction Is Here</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

