@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cavani_tm_section animated" id="home">
    <div class="cavani_tm_home relative w-full h-full flex items-center">
        <div class="content pl-[100px]">
            <h3 class="name text-[72px] font-bold uppercase mb-[30px]">Alan Walker</h3>
            <span class="line inline-block w-[70px] h-[5px] bg-[#333] mb-[30px]"></span>
            <h3 class="job text-[25px] mb-[35px] font-light">
                <span class="cd-headline clip">
                    <span class="blc">Creative</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Designer</b>
                        <b>Developer</b>
                        <b>Freelancer</b>
                    </span>
                </span>
            </h3>
            <div class="cavani_tm_button transition_link">
                <a href="#contact">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<div class="cavani_tm_section" id="about">
    <div class="section_inner">
        <div class="cavani_tm_about w-full h-auto clear-both float-left">
            <div class="biography w-full h-auto clear-both float-left mb-[87px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">About Me</span>
                </div>
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between mt-[55px]">
                    <div class="left w-[40%]">
                        <p class="mb-[15px]">Hello there! My name is <strong>Alan Walker.</strong> I am a graphic designer, and I'm very passionate and dedicated to my work.</p>
                        <p>With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge necessary to make your project a success.</p>
                    </div>
                    <div class="right w-[50%]">
                        <ul>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Name:</span><span class="second inline-block">Alan Walker</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Address:</span><span class="second inline-block">Ave Street, New York, USA</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Study:</span><span class="second inline-block">Univercity of Oxford</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Degree:</span><span class="second inline-block">Master of Science</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Mail:</span><span class="second inline-block"><a class="text-[#7d7789] transition-all duration-300 hover:text-[#333]" href="#"><span class="__cf_email__" data-cfemail="076f626b6b684764667166696e2964686a">[email&#160;protected]</span></a></span></li>
                            <li class="w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Phone:</span><span class="second inline-block">+77 022 444 05 05</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services w-full h-auto clear-both float-left mb-[87px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="service_list w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Services</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left mt-[55px]">
                            <ul>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Web Development</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Graphic Design</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Landing Page</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">On-Page SEO</li>
                                <li class="w-full float-left relative pl-[25px]">Web Hosting</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service_list w-[50%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Interests</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left mt-[55px]">
                            <ul>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Painting &amp; Drawing</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Reading &amp; Writing</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Music &amp; Cinema</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Travel &amp; Picnik</li>
                                <li class="w-full float-left relative pl-[25px]">Rain &amp; Snow</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills w-full h-auto clear-both float-left mb-[65px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="programming w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Programming</span>
                        </div>
                        <div class="cavani_progress w-full h-auto clear-both float-left mt-[55px]">
                            <div class="progress_inner" data-value="95">
                                <span><span class="label">HTML &amp; CSS</span><span class="number">95%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="80">
                                <span><span class="label">JavaScript</span><span class="number">80%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="90">
                                <span><span class="label">WordPress</span><span class="number">90%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="language w-[50%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Language</span>
                        </div>
                        <div class="circular_progress_bar w-full h-auto clear-both float-left mt-[62px]">
                            <ul>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.95"></div>
                                        <div class="title"><span>English</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.8"></div>
                                        <div class="title"><span>Russian</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.9"></div>
                                        <div class="title"><span>Arabic</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume w-full h-auto clear-both float-left mb-[75px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="education w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Education</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left">
                            <div class="univ w-full h-auto clear-both float-left mt-[55px]">
                                <ul class="relative inline-block pt-[10px]">
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2014 - 2016</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Oxford Univercity</h3>
                                                <span class="text-[14px]">Master Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2010 - 2014</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Texas Univercity</h3>
                                                <span class="text-[14px]">Bachelor Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2008 - 2010</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Simone College</h3>
                                                <span class="text-[14px]">Associate Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="experience w-1/2">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Experience</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left">
                            <div class="univ w-full h-auto clear-both float-left mt-[55px]">
                                <ul class="relative inline-block pt-[10px]">
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2018 - running</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Envato Elements</h3>
                                                <span class="text-[14px]">Exclusive Author</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2015 - 2018</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Avo Corporation</h3>
                                                <span class="text-[14px]">Content Manager</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2012 - 2015</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">FC Barcelona</h3>
                                                <span class="text-[14px]">Football Player</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners w-full h-auto clear-both float-left mb-[92px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Partners</span>
                </div>
                <div class="list w-full clear-both float-left overflow-hidden border-solid border-[#E5EDF4] border-2 mt-[62px]">
                    <ul class="mt-[-2px] mr-[-10px] mb-[-2px] ml-[-2px] pt-[2px] float-left pl-[2px]">
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/1.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/2.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/3.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/4.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/5.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/1.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/2.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/3.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="testimonials w-full h-auto clear-both float-left mb-[90px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Testimonials</span>
                </div>
                <div class="list w-full h-auto clear-both float-left mt-[75px]">
                    <ul class="owl-carousel cursor-e-resize">
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>Beautiful minimalist design and great, fast response with support. Highly recommend. Thanks Marketify!</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/1.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Alexander Walker</h3>
                                        <span class="text-[14px]">Graphic Designer</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>These people really know what they are doing! Great customer support availability and supperb kindness.</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/2.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Armin Van Buuren</h3>
                                        <span class="text-[14px]">Content Manager</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>I had a little problem and the support was just awesome to quickly solve the situation. And keep going on.</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/3.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Baraka Clinton</h3>
                                        <span class="text-[14px]">English Teacher</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cavani_tm_section" id="news">
    <div class="section_inner">
        <div class="cavani_tm_news w-full h-auto clear-both float-left mb-[70px]">
            <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Latest News</span>
            </div>
            <div class="news_list w-full h-auto clear-both float-left mt-[60px]">
                <ul class="relative z-[2]">
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/1.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">01</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">July 07, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Branding</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">0 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">Reasons Why People Use Discord</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/2.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">02</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">July 02, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Design</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">2 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">Why We Should Read Fewer Books</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/3.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">03</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 30, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Lifestyle</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">5 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">A Final Farewell to the iPod</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/4.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">04</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 25, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Branding</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">3 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">Dealing with Spring Allergy Symptoms</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/5.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">05</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 20, 2022</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Design</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">1 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">How to Take a Break from Yourself</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="w-full py-[29px] px-0" data-img="~/assets/img/news/6.jpg">
                        <div class="list_inner w-full clear-both h-auto flex items-center">
                            <span class="number w-[50px] min-w-[50px] h-[50px] text-center leading-[50px] inline-block rounded-full bg-[#b9b8c3] text-[#333] text-[16px] font-semibold font-poppins">06</span>
                            <div class="details relative pl-[30px] ml-[29px]">
                                <div class="extra_metas">
                                    <ul class="flex items-center flex-wrap mb-[2px]">
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777]">June 11</span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">Media</a></span></li>
                                        <li class="relative mr-[10px]"><span class="text-[15px] text-[#777] pl-[10px]"><a class="text-[#777] transition-all duration-300 hover:text-[#000]" href="#">2 Comments</a></span></li>
                                    </ul>
                                </div>
                                <div class="post_title">
                                    <h3 class="m-0 p-0 leading-[1] font-semibold"><a href="#">The Age of Extinction Is Here</a></h3>
                                </div>
                            </div>

                            <div class="news_hidden_details hidden opacity-0 invisible absolute z-[-111]">
                                <div class="news_popup_informations w-full h-auto clear-both float-left">
                                    <div class="text w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="cavani_tm_section" id="contact">
    <div class="section_inner">
        <div class="cavani_tm_contact w-full h-auto clear-both float-left mb-[100px]">
            <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Get in Touch</span>
            </div>
            <div class="short_info w-full h-auto clear-both float-left mt-[62px]">
                <ul class="ml-[-30px] flex flex-wrap">
                    <li class="mb-[30px] w-1/3 pl-[30px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[rgba(0,0,0,.07)] border text-center py-[32px] px-[25px]">
                            <img class="svg inline-block w-[18px] h-[18px] mb-[10px]" src="~/assets/img/svg/location.svg" alt />
                            <span class="block">Ave Street, New York, USA</span>
                        </div>
                    </li>
                    <li class="mb-[30px] w-1/3 pl-[30px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[rgba(0,0,0,.07)] border text-center py-[32px] px-[25px]">
                            <img class="svg inline-block w-[18px] h-[18px] mb-[10px]" src="~/assets/img/svg/mail.svg" alt />
                            <span class="block"><a class="text-[#7d7789] transition-all duration-300 hover:text-[#333]" href="#"><span class="__cf_email__" data-cfemail="731b161f1f1c33101205121d1a5d101c1e">[email&#160;protected]</span></a></span>
                        </div>
                    </li>
                    <li class="mb-[30px] w-1/3 pl-[30px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[rgba(0,0,0,.07)] border text-center py-[32px] px-[25px]">
                            <img class="svg inline-block w-[18px] h-[18px] mb-[10px]" src="~/assets/img/svg/call.svg" alt />
                            <span class="block">+77 022 444 05 05</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form w-full h-auto clear-both flex">
                <div class="left w-1/2 pr-[15px]">
                    <div class="fields w-full h-auto clear-both float-left">
                        <form action="https://marketifythemes.net/" method="post" class="contact_form" id="contact_form">
                            <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
                            <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                            <div class="first w-full float-left">
                                <ul>
                                    <li class="w-full mb-[30px] float-left">
                                        <input id="name" type="text" placeholder="Name" autocomplete="off">
                                    </li>
                                    <li class="w-full mb-[30px] float-left">
                                        <input id="email" type="text" placeholder="Email" autocomplete="off">
                                    </li>
                                </ul>
                            </div>
                            <div class="last">
<textarea id="message" placeholder="Message"></textarea>
                            </div>
                            <div class="cavani_tm_button">
                                <a id="send_message" href="#">Send Message</a>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="right w-1/2 pl-[15px] relative">
                    <div class="map_wrap">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="100%" height="355" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net/">fmovies</a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 355px;
                                        width: 100%;
                                    }
                                </style><a href="https://www.embedgooglemap.net/">embedgooglemap.net</a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 355px;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cavani_tm_section" id="about">
    <div class="section_inner">
        <div class="cavani_tm_about w-full h-auto clear-both float-left">
            <div class="biography w-full h-auto clear-both float-left mb-[87px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">About Me</span>
                </div>
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between mt-[55px]">
                    <div class="left w-[40%]">
                        <p class="mb-[15px]">Hello there! My name is <strong>Alan Walker.</strong> I am a graphic designer, and I'm very passionate and dedicated to my work.</p>
                        <p>With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge necessary to make your project a success.</p>
                    </div>
                    <div class="right w-[50%]">
                        <ul>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Name:</span><span class="second inline-block">Alan Walker</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Address:</span><span class="second inline-block">Ave Street, New York, USA</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Study:</span><span class="second inline-block">Univercity of Oxford</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Degree:</span><span class="second inline-block">Master of Science</span></li>
                            <li class="mb-[8px] w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Mail:</span><span class="second inline-block"><a class="text-[#7d7789] transition-all duration-300 hover:text-[#333]" href="#"><span class="__cf_email__" data-cfemail="076f626b6b684764667166696e2964686a">[email&#160;protected]</span></a></span></li>
                            <li class="w-full float-left"><span class="first inline-block min-w-[100px] font-bold">Phone:</span><span class="second inline-block">+77 022 444 05 05</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services w-full h-auto clear-both float-left mb-[87px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="service_list w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Services</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left mt-[55px]">
                            <ul>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Web Development</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Graphic Design</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Landing Page</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">On-Page SEO</li>
                                <li class="w-full float-left relative pl-[25px]">Web Hosting</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service_list w-[50%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Interests</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left mt-[55px]">
                            <ul>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Painting &amp; Drawing</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Reading &amp; Writing</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Music &amp; Cinema</li>
                                <li class="mb-[8px] w-full float-left relative pl-[25px]">Travel &amp; Picnik</li>
                                <li class="w-full float-left relative pl-[25px]">Rain &amp; Snow</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills w-full h-auto clear-both float-left mb-[65px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="programming w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Programming</span>
                        </div>
                        <div class="cavani_progress w-full h-auto clear-both float-left mt-[55px]">
                            <div class="progress_inner" data-value="95">
                                <span><span class="label">HTML &amp; CSS</span><span class="number">95%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="80">
                                <span><span class="label">JavaScript</span><span class="number">80%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="90">
                                <span><span class="label">WordPress</span><span class="number">90%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="language w-[50%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Language</span>
                        </div>
                        <div class="circular_progress_bar w-full h-auto clear-both float-left mt-[62px]">
                            <ul>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.95"></div>
                                        <div class="title"><span>English</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.8"></div>
                                        <div class="title"><span>Russian</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <div class="myCircle" data-value="0.9"></div>
                                        <div class="title"><span>Arabic</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume w-full h-auto clear-both float-left mb-[75px]">
                <div class="wrapper w-full h-auto clear-both float-left flex justify-between">
                    <div class="education w-[40%]">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Education</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left">
                            <div class="univ w-full h-auto clear-both float-left mt-[55px]">
                                <ul class="relative inline-block pt-[10px]">
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2014 - 2016</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Oxford Univercity</h3>
                                                <span class="text-[14px]">Master Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2010 - 2014</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Texas Univercity</h3>
                                                <span class="text-[14px]">Bachelor Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2008 - 2010</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Simone College</h3>
                                                <span class="text-[14px]">Associate Degree</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="experience w-1/2">
                        <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                            <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Experience</span>
                        </div>
                        <div class="list w-full h-auto clear-both float-left">
                            <div class="univ w-full h-auto clear-both float-left mt-[55px]">
                                <ul class="relative inline-block pt-[10px]">
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2018 - running</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Envato Elements</h3>
                                                <span class="text-[14px]">Exclusive Author</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px] pb-[45px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2015 - 2018</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">Avo Corporation</h3>
                                                <span class="text-[14px]">Content Manager</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="w-full float-left relative pl-[20px]">
                                        <div class="list_inner w-full h-auto clear-both flex relative">
                                            <div class="time w-1/2 pr-[20px]">
                                                <span class="inline-block py-[5px] px-[25px] bg-[rgba(0,0,0,.05)] rounded-[50px] text-[14px] whitespace-nowrap">2012 - 2015</span>
                                            </div>
                                            <div class="place w-1/2 pl-[20px]">
                                                <h3 class="text-[16px] mb-[2px] font-semibold">FC Barcelona</h3>
                                                <span class="text-[14px]">Football Player</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners w-full h-auto clear-both float-left mb-[92px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Partners</span>
                </div>
                <div class="list w-full clear-both float-left overflow-hidden border-solid border-[#E5EDF4] border-2 mt-[62px]">
                    <ul class="mt-[-2px] mr-[-10px] mb-[-2px] ml-[-2px] pt-[2px] float-left pl-[2px]">
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/1.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/2.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/3.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/4.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/5.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/1.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/2.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                        <li class="float-left w-1/4 border-solid border-[#E5EDF4] border-2 text-center h-[130px] leading-[130px] relative mt-[-2px] ml-[-2px] overflow-hidden">
                            <div class="list_inner w-full h-full clear-both float-left opacity-50 transition-all duration-300 hover:opacity-100">
                                <img class="inline-block max-w-[65%] max-h-[65px]" src="~/assets/img/partners/3.png" alt />
                                <a class="cavani_tm_full_link" href="#"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="testimonials w-full h-auto clear-both float-left mb-[90px]">
                <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                    <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Testimonials</span>
                </div>
                <div class="list w-full h-auto clear-both float-left mt-[75px]">
                    <ul class="owl-carousel cursor-e-resize">
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>Beautiful minimalist design and great, fast response with support. Highly recommend. Thanks Marketify!</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/1.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Alexander Walker</h3>
                                        <span class="text-[14px]">Graphic Designer</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>These people really know what they are doing! Great customer support availability and supperb kindness.</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/2.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Armin Van Buuren</h3>
                                        <span class="text-[14px]">Content Manager</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner w-full h-auto clear-both float-left relative">
                                <div class="text w-full h-auto clear-both float-left relative border-solid border-[#E5EDF4] border-2 p-[40px] mb-[30px]">
                                    <i class="icon-quote-left absolute z-[1] text-[30px] top-[-29px] left-[50px]"></i>
                                    <p>I had a little problem and the support was just awesome to quickly solve the situation. And keep going on.</p>
                                </div>
                                <div class="details w-full h-auto clear-both float-left flex items-center pl-[20px]">
                                    <div class="image relative w-[60px] h-[60px]">
                                        <div class="main absolute inset-0 bg-no-repeat bg-cover bg-center rounded-full" data-img-url="~/assets/img/testimonials/3.jpg"></div>
                                    </div>
                                    <div class="info pl-[20px]">
                                        <h3 class="text-[16px] mb-[2px] font-semibold">Baraka Clinton</h3>
                                        <span class="text-[14px]">English Teacher</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cavani_tm_section" id="service">
    <div class="section_inner">
        <div class="cavani_tm_service w-full h-auto clear-both float-left mb-[70px]">
            <div class="cavani_tm_title w-full h-auto clear-both float-left overflow-hidden">
                <span class="inline-block relative font-poppins text-[#333] uppercase font-bold tracking-[8px]">Services</span>
            </div>
            <div class="service_list w-full h-auto clear-both float-left mt-[60px]">
                <ul class="ml-[-50px] flex flex-wrap">
                    <li class="mb-[50px] w-1/2 pl-[50px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[#b9b8c3] border py-[70px] px-[40px] text-center transition-all duration-300 hover:bg-[#333]">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 511.961 511.961" height="512" viewBox="0 0 511.961 511.961" width="512" class="svg inline-block w-[60px] h-[60px] text-[#333] mb-[27px] transition-all duration-300 replaced-svg"><g><path d="m489.965 120.063c0-5.77-3.31-11.028-8.512-13.524l-218.984-105.064c-4.102-1.967-8.875-1.967-12.977 0l-218.985 105.064c-5.202 2.496-8.511 7.755-8.511 13.524l-.003 271.834c0 5.77 3.31 11.028 8.512 13.524l218.989 105.065c2.051.983 4.27 1.475 6.488 1.475 2.219 0 4.438-.492 6.488-1.475l218.989-105.065c5.202-2.496 8.512-7.755 8.512-13.524zm-233.984 360.262-203.989-97.868.003-252.953 203.985-97.867 203.984 97.867.004 252.953z"></path><path d="m417.299 146.915-154.83-74.284c-4.102-1.967-8.875-1.967-12.977 0l-154.832 74.284c-5.202 2.496-8.511 7.755-8.511 13.525l-.002 191.081c0 5.77 3.31 11.028 8.512 13.524l154.833 74.285c2.051.983 4.27 1.476 6.488 1.476 2.219 0 4.438-.492 6.488-1.476l154.833-74.285c5.202-2.496 8.512-7.755 8.512-13.524l-.003-191.081c.001-5.77-3.308-11.028-8.511-13.525zm-161.318-44.122 120.156 57.648-120.156 57.647-120.156-57.647zm-139.832 81.483 124.832 59.89v157.808l-124.833-59.893zm154.832 217.697v-157.808l124.831-59.89.002 157.805z"></path></g></svg>
                            <h3 class="title font-medium text-[24px] text-[#333] mb-[15px] transition-all duration-300">3D Animation</h3>
                            <p class="text transition-all duration-300">Developing website involves creating your website, making it one of the most vital parts of your marketing</p>
                            <a class="cavani_tm_full_link" href="#"></a>

                            <img class="popup_service_image opacity-0 invisible hidden absolute z-[-111]" src="assets/img/news/1.jpg" alt="">
                            <div class="service_hidden_details opacity-0 invisible hidden absolute z-[-111]">
                                <div class="service_popup_informations w-full h-auto clear-both float-left">
                                    <div class="descriptions w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="mb-[50px] w-1/2 pl-[50px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[#b9b8c3] border py-[70px] px-[40px] text-center transition-all duration-300 hover:bg-[#333]">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="svg inline-block w-[60px] h-[60px] text-[#333] mb-[27px] transition-all duration-300 replaced-svg">
<g>
                            <g>
                            <g>
                            <path d="M437.02,74.98C388.667,26.629,324.38,0,256,0S123.333,26.629,74.98,74.98C26.629,123.333,0,187.62,0,256     s26.629,132.667,74.98,181.02C123.333,485.371,187.62,512,256,512c46.813,0,92.617-12.758,132.462-36.893     c9.447-5.724,12.467-18.022,6.744-27.469c-5.724-9.449-18.023-12.467-27.469-6.744C334.144,461.244,295.505,472,256,472     c-119.103,0-216-96.897-216-216S136.897,40,256,40s216,96.897,216,216c0,42.589-12.665,84.044-36.626,119.884     c-6.139,9.182-3.672,21.603,5.51,27.742c9.184,6.141,21.604,3.672,27.742-5.51C497.002,355.674,512,306.53,512,256     C512,187.62,485.371,123.333,437.02,74.98z"></path>
                            <path d="M234.665,151.423c-14.087-8.174-30.922-8.202-45.032-0.074c-14.163,8.155-22.618,22.798-22.618,39.169v130.965     c0,16.371,8.455,31.014,22.618,39.169c7.034,4.052,14.742,6.076,22.452,6.076c7.757,0,15.516-2.052,22.58-6.151l112.847-65.482     C361.593,286.924,370,272.309,370,256c0-16.309-8.407-30.924-22.488-39.095L234.665,151.423z M327.436,260.497l-112.847,65.482     c-2.063,1.199-3.855,0.665-4.994,0.01c-1.178-0.678-2.58-2.01-2.58-4.507V190.518c0-2.497,1.402-3.829,2.58-4.507     c0.646-0.372,1.501-0.703,2.496-0.703c0.761,0,1.604,0.194,2.498,0.713l112.847,65.482c2.12,1.229,2.564,3.124,2.564,4.497     C330,257.373,329.556,259.268,327.436,260.497z"></path>
        </g>
    </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                            <h3 class="title font-medium text-[24px] text-[#333] mb-[15px] transition-all duration-300">Explainer Videos</h3>
                            <p class="text transition-all duration-300">Developing website involves creating your website, making it one of the most vital parts of your marketing</p>
                            <a class="cavani_tm_full_link" href="#"></a>

                            <img class="popup_service_image opacity-0 invisible hidden absolute z-[-111]" src="assets/img/news/2.jpg" alt="">
                            <div class="service_hidden_details opacity-0 invisible hidden absolute z-[-111]">
                                <div class="service_popup_informations w-full h-auto clear-both float-left">
                                    <div class="descriptions w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="mb-[50px] w-1/2 pl-[50px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[#b9b8c3] border py-[70px] px-[40px] text-center transition-all duration-300 hover:bg-[#333]">
                            <svg xmlns="http://www.w3.org/2000/svg" id="_x31__x2C_5" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" class="svg inline-block w-[60px] h-[60px] text-[#333] mb-[27px] transition-all duration-300 replaced-svg"><path d="m6.75 18c-.192 0-.384-.073-.53-.22-.293-.293-.293-.768 0-1.061l2.719-2.719-2.72-2.72c-.293-.293-.293-.768 0-1.061s.768-.293 1.061 0l3.25 3.25c.293.293.293.768 0 1.061l-3.25 3.25c-.146.147-.338.22-.53.22z"></path><path d="m17.25 18h-4.5c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h4.5c.414 0 .75.336.75.75s-.336.75-.75.75z"></path><path d="m21.25 23h-18.5c-1.517 0-2.75-1.233-2.75-2.75v-16.5c0-1.517 1.233-2.75 2.75-2.75h18.5c1.517 0 2.75 1.233 2.75 2.75v16.5c0 1.517-1.233 2.75-2.75 2.75zm-18.5-20.5c-.689 0-1.25.561-1.25 1.25v16.5c0 .689.561 1.25 1.25 1.25h18.5c.689 0 1.25-.561 1.25-1.25v-16.5c0-.689-.561-1.25-1.25-1.25z"></path><path d="m23.25 6h-22.5c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h22.5c.414 0 .75.336.75.75s-.336.75-.75.75z"></path></svg>
                            <h3 class="title font-medium text-[24px] text-[#333] mb-[15px] transition-all duration-300">App Development</h3>
                            <p class="text transition-all duration-300">Developing website involves creating your website, making it one of the most vital parts of your marketing</p>
                            <a class="cavani_tm_full_link" href="#"></a>

                            <img class="popup_service_image opacity-0 invisible hidden absolute z-[-111]" src="assets/img/news/3.jpg" alt="">
                            <div class="service_hidden_details opacity-0 invisible hidden absolute z-[-111]">
                                <div class="service_popup_informations w-full h-auto clear-both float-left">
                                    <div class="descriptions w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="mb-[50px] w-1/2 pl-[50px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[#b9b8c3] border py-[70px] px-[40px] text-center transition-all duration-300 hover:bg-[#333]">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" class="svg inline-block w-[60px] h-[60px] text-[#333] mb-[27px] transition-all duration-300 replaced-svg"><g><path d="m512 406v-390h-512v390h195v60h-30v30h182v-30h-30v-60zm-482-30v-40h302v-30h-189.787l80.287-80.287 45 45 124.5-124.5v36.787h30v-90h-90v30h40.787l-105.287 105.287-45-45-122.713 122.713h-69.787v-260h452v330c-11.983 0-439.937 0-452 0zm257 90h-62v-60h62z"></path><path d="m362 306h30v30h-30z"></path><path d="m422 306h30v30h-30z"></path></g></svg>
                            <h3 class="title font-medium text-[24px] text-[#333] mb-[15px] transition-all duration-300">Educational Video</h3>
                            <p class="text transition-all duration-300">Developing website involves creating your website, making it one of the most vital parts of your marketing</p>
                            <a class="cavani_tm_full_link" href="#"></a>

                            <img class="popup_service_image opacity-0 invisible hidden absolute z-[-111]" src="assets/img/news/4.jpg" alt="">
                            <div class="service_hidden_details opacity-0 invisible hidden absolute z-[-111]">
                                <div class="service_popup_informations w-full h-auto clear-both float-left">
                                    <div class="descriptions w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="mb-[50px] w-1/2 pl-[50px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[#b9b8c3] border py-[70px] px-[40px] text-center transition-all duration-300 hover:bg-[#333]">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.00096 512.00096" class="svg inline-block w-[60px] h-[60px] text-[#333] mb-[27px] transition-all duration-300 replaced-svg"><path d="m373.40625 0h-234.8125c-76.421875 0-138.59375 62.171875-138.59375 138.59375v234.816406c0 76.417969 62.171875 138.589844 138.59375 138.589844h234.816406c76.417969 0 138.589844-62.171875 138.589844-138.589844v-234.816406c0-76.421875-62.171875-138.59375-138.59375-138.59375zm108.578125 373.410156c0 59.867188-48.707031 108.574219-108.578125 108.574219h-234.8125c-59.871094 0-108.578125-48.707031-108.578125-108.574219v-234.816406c0-59.871094 48.707031-108.578125 108.578125-108.578125h234.816406c59.867188 0 108.574219 48.707031 108.574219 108.578125zm0 0"></path><path d="m256 116.003906c-77.195312 0-139.996094 62.800782-139.996094 139.996094s62.800782 139.996094 139.996094 139.996094 139.996094-62.800782 139.996094-139.996094-62.800782-139.996094-139.996094-139.996094zm0 249.976563c-60.640625 0-109.980469-49.335938-109.980469-109.980469 0-60.640625 49.339844-109.980469 109.980469-109.980469 60.644531 0 109.980469 49.339844 109.980469 109.980469 0 60.644531-49.335938 109.980469-109.980469 109.980469zm0 0"></path><path d="m399.34375 66.285156c-22.8125 0-41.367188 18.558594-41.367188 41.367188 0 22.8125 18.554688 41.371094 41.367188 41.371094s41.371094-18.558594 41.371094-41.371094-18.558594-41.367188-41.371094-41.367188zm0 52.71875c-6.257812 0-11.351562-5.09375-11.351562-11.351562 0-6.261719 5.09375-11.351563 11.351562-11.351563 6.261719 0 11.355469 5.089844 11.355469 11.351563 0 6.257812-5.09375 11.351562-11.355469 11.351562zm0 0"></path></svg>
                            <h3 class="title font-medium text-[24px] text-[#333] mb-[15px] transition-all duration-300">3D Game Art</h3>
                            <p class="text transition-all duration-300">Developing website involves creating your website, making it one of the most vital parts of your marketing</p>
                            <a class="cavani_tm_full_link" href="#"></a>

                            <img class="popup_service_image opacity-0 invisible hidden absolute z-[-111]" src="assets/img/news/5.jpg" alt="">
                            <div class="service_hidden_details opacity-0 invisible hidden absolute z-[-111]">
                                <div class="service_popup_informations w-full h-auto clear-both float-left">
                                    <div class="descriptions w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="mb-[50px] w-1/2 pl-[50px]">
                        <div class="list_inner w-full h-auto clear-both float-left relative border-solid border-[#b9b8c3] border py-[70px] px-[40px] text-center transition-all duration-300 hover:bg-[#333]">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve" class="svg inline-block w-[60px] h-[60px] text-[#333] mb-[27px] transition-all duration-300 replaced-svg">
<g>
                            <g>
                            <path d="M512.001,255.969c-0.011-5.193-2.708-10.011-7.129-12.737l-52.034-32.076l52.089-32.421    c4.393-2.734,7.066-7.539,7.074-12.712c0.008-5.174-2.651-9.987-7.036-12.734l-241-151c-4.871-3.052-11.058-3.052-15.929,0    l-241,151c-4.384,2.747-7.043,7.56-7.036,12.734c0.008,5.174,2.681,9.979,7.074,12.712l51.732,32.198L7.051,243.282    c-4.39,2.744-7.055,7.557-7.05,12.734c0.005,5.177,2.679,9.985,7.074,12.721l51.732,32.198L7.051,333.282    c-4.383,2.74-7.047,7.543-7.05,12.712s2.656,9.975,7.036,12.719l241,151c2.436,1.526,5.2,2.289,7.964,2.289    c2.764,0,5.529-0.763,7.964-2.289l241-151c4.394-2.753,7.055-7.581,7.036-12.766c-0.019-5.185-2.715-9.993-7.129-12.714    l-52.034-32.076l52.089-32.421C509.336,265.992,512.012,261.162,512.001,255.969z M43.32,165.96L256.001,32.703L468.682,165.96    c-2.044,1.272-206.586,128.58-212.681,132.374L43.32,165.96z M468.584,346.106L256.001,479.301L43.278,346.018l43.889-27.431    l160.908,100.15c2.426,1.51,5.176,2.265,7.926,2.265c2.75,0,5.5-0.755,7.926-2.265l160.464-99.874L468.584,346.106z     M256.001,388.334L43.345,255.976l43.822-27.389l160.908,100.15c2.426,1.51,5.176,2.265,7.926,2.265c2.75,0,5.5-0.755,7.926-2.265    l160.464-99.874l44.125,27.2C467.297,256.822,261.631,384.829,256.001,388.334z"></path>
    </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                            <h3 class="title font-medium text-[24px] text-[#333] mb-[15px] transition-all duration-300">Presentations</h3>
                            <p class="text transition-all duration-300">Developing website involves creating your website, making it one of the most vital parts of your marketing</p>
                            <a class="cavani_tm_full_link" href="#"></a>

                            <img class="popup_service_image opacity-0 invisible hidden absolute z-[-111]" src="assets/img/news/6.jpg" alt="">
                            <div class="service_hidden_details opacity-0 invisible hidden absolute z-[-111]">
                                <div class="service_popup_informations w-full h-auto clear-both float-left">
                                    <div class="descriptions w-full float-left">
                                        <p class="mb-[15px]">Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        <p class="mb-[15px]">In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                                        <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>