@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cavani_tm_section animated" id="home">
    <div class="cavani_tm_home relative w-full h-full flex items-center">
        <div class="content pl-[100px]">
            <h3 class="name text-[72px] font-bold uppercase mb-[30px]">Alan Walker</h3>
            <span class="line inline-block w-[70px] h-[5px] bg-[#333] mb-[30px]"></span>
            <h3 class="job text-[25px] mb-[35px] font-light">
                <span class="cd-headline clip">
                    <span class="blc">Creative</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Designer</b>
                        <b>Developer</b>
                        <b>Freelancer</b>
                    </span>
                </span>
            </h3>
            <div class="cavani_tm_button transition_link">
                <a href="#contact">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
